body{
     background-color: rgb(40, 49, 49);
}
#radius{
display: flex;
flex-direction: row;
max-width: 100%;
width: 990px;

}
.red{
     display: flex;
     flex-grow: 4;
     /* flex-direction: column; */
     justify-content: center;
     align-items: center;
     height: 5px;
     width: 5px;
     background-color: brown;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}

.blue{
     height: 4px;
     width: 4px;
     background-color: blue;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.yellow{
     height: 3px;
     width: 3px;
     background-color: yellow;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.green{
     height: 6px;
     width: 6px;
     background-color: green;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.purple{
     height: 5px;
     width: 5px;
     background-color: purple;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.pink{
     height: 4px;
     width: 4px;
     background-color: pink;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.brown{
     height: 3px;
     width: 3px;
     background-color: brown;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.grey{
     height: 6px;
     width: 6px;
     background-color: grey;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.turquoise{
     height: 4px;
     width: 4px;
     background-color: turquoise;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}

 
#id-5, #id-15, #id-35, 
#id-48, #id-75, #id-105, 
#id-135, #id-167, #id-190, 
#id-200, #id-246, #id-266, 
#id-298, #id-301, #id-355, 
#id-400, #id-420, #id-467, 
#id-555, #id-545, #id-666, 
#id-703, #id-888, #id-999, 
#id-1105, #id-1250, #id-1355, 
#id-1400, #id-1440, #id-1478, #id-1556 {
     background-color: rgb(19, 185, 3);
}

#id-4, #id-14, #id-34, 
#id-47, #id-74, #id-104, 
#id-134, #id-166, #id-189, 
#id-199, #id-245, #id-265, 
#id-297, #id-300, #id-354, 
#id-399, #id-419, #id-466, 
#id-554, #id-544, #id-665, 
#id-702, #id-887, #id-998, 
#id-1104, #id-1249, #id-1354, 
#id-1399, #id-1439, #id-1477, #id-1555 {
     background-color: rgb(36, 111, 124);
}