body{
     background-color: rgb(40, 49, 49);
}
#radius{
display: flex;
flex-direction: row;
max-width: 100%;
width: 990px;

}
.red{
     display: flex;
     flex-grow: 4;
     /* flex-direction: column; */
     justify-content: center;
     align-items: center;
     height: 5px;
     width: 5px;
     background-color: brown;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}

.blue{
     height: 4px;
     width: 4px;
     background-color: blue;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.yellow{
     height: 3px;
     width: 3px;
     background-color: yellow;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.green{
     height: 6px;
     width: 6px;
     background-color: green;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.purple{
     height: 5px;
     width: 5px;
     background-color: purple;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.pink{
     height: 4px;
     width: 4px;
     background-color: pink;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.brown{
     height: 3px;
     width: 3px;
     background-color: brown;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.grey{
     height: 6px;
     width: 6px;
     background-color: grey;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}
.turquoise{
     height: 4px;
     width: 4px;
     background-color: turquoise;
     margin: 9px;
     padding: 2px;
     border-radius: 50%;
}